body{
    background-color: bisque;
    margin:0;
    
    
    
}
body > header {
    
border: 15px solid rgba(255, 0, 0, 0.76);
text-align: center;
background-color: rgba(red, green, blue, alpha);

    
}








