body{
    background-color:rgb(83, 77, 77);
    margin:0;
    font-family: 'Lobster';
}
*{box-sizing: border-box;}

html{
    scroll-behavior: smooth;
}
    

body > header {
    

text-align: center;
background-color: rgb(83, 77, 77);
font-family:'Lobster';
font-size: x-large;
}
    
/*glówna nawigacja */
nav{
    position:sticky;
    top:0;
    background-color: pink;
    

}

nav ul{
    
    list-style-type:none;
    padding: 0;
    margin:0;
    
    
    /*DISPLAY FLEX */
display:flex;

justify-content: space-evenly;
align-items: center;
/* właściwość do kopania flexa, zmiana row na kolumn powoduje zmianę ról między justify-content a align item*/
/* flex-direction */

/* justify - content:
FLEX START - domyślna wartość
flex end  - wyświetl nz koncu
center - wyśrodkuj
space around - taka sama przestrzeń wokół każdego dziecka 
space between - przestrzeń tylko między elementami*/



}

/*POJEDYNCZE PRZYCISKI (HOME, PROJEKTY, KONTAKT) */

nav ul li{
    margin: 10px;
    border: 5px solid rgba(95, 6, 95, 0.89);
    padding: 5px 10px;
    background-color: rgb(145, 139, 139);
    /*color - kolor tła*/
    color: black;
    border-radius: 15px;
    /*wygląd kursora*/
    cursor: pointer;
    font-family: 'Lobster';
    font-size:xx-large; 

    
    
    
/* czas pojawiania się zmian*/
    transition: 1s;


}
/* styl elemntu po nakierownaiu na niego myszką */
    nav ul li:hover{
        background-color:pink;
        
        color:black;

        
    }
    
    nav ul li:active{
        border-color: pink;
        background-color: rgb(245, 207, 138);
        transition: none
    }
        
       /* POPUP COOKIES*/
       .cookies{
           
           position:fixed;
           bottom:0;
           width:100%;
           
          
           display: flex;
           justify-content:space between;
           align-items: center;
           padding: 5px;

       }

table{
   background-color: rgba(95, 6, 95, 0.89);
   transition: 3s;
   align-items:center;
   
   
   

}
  
/* MAIN HEADER ( O MNIE )*/
main {
    
    padding: 2em;
}

.imgField{
    text-align: center;
    
}
 .headertext {
    
    /*padding:0 2em;
    padding-bottom:1em;
    wjednej lini:
    góra dół*/
    padding:0 2em 1em 2em;
    /*prawo lewo*/
}


 

    
img{
    max-width: 100%;
    border-radius:  10%;
}
 
    @media (min-width:768px){
        main > header,
        main > article,
        #contact {
            display: flex;
            align-items: center;
            justify-content: center;

        }
/* PIERWSZY SPOSÓB*/
        main > header >*,
        main > article >*,
        #contacts > *{
            flex:1;
    }

    }
/*MAIN ARTICLE (TECHNOLOGIE)*/

.tableField{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
    
    #Contacts{
        
        padding:0 1em;
    }
    #Contacts form{
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #Contacts form input,
    #Contacts form textarea{
        background-color: pink;
        width: 50%;
        padding: .5rem;
        outline:0;
        margin-bottom: .5rem;
        border: 5px solid rgba(95, 6, 95, 0.89);
        border-radius: 6px;
        font-family: inherit;
    }

    #Contacts form button{
        padding: .2rem 1rem;
        border-radius: 8px;
        outline:0;
        border:none;


    }
    footer{
        padding: .5em 1.5em;
        text-align: right;
    }
    