body{
    background-color: bisque;
    margin:0;
    
    
    
}
body > header {
    
border: 15px solid rgba(185, 61, 61, 0.793);
text-align: center;
background-color: rgba(185, 61, 61, 0.793)
}
    


nav ul{
    border: 5px dashed red;
    list-style-type:none;
    padding: 0;
    height: 150px;
    
    /*DISPLAY FLEX */
display:flex;

justify-content: space-evenly;
align-items: center;
/* właściwość do kopania flexa, zmiana row na kolumn powoduje zmianę ról między justify-content a align item*/
flex-direction: column;

/* justify - content:
FLEX START - domyślna wartość
flex end  - wyświetl nz koncu
center - wyśrodkuj
space around - taka sama przestrzeń wokół każdego dziecka 
space between - przestrzeń tylko między elementami*/



}

/*POJEDYNCZE PRZYCISKI (HOME, PROJEKTY, KONTAKT) */

nav ul li{
    border: 5px dashed blue
}








